<div class="bannerbg">
    <div class="banner1" ng-controller="LoginCtrl">
        <form ng-submit="login(loginform)" name="loginform" class="login-in" role="form">
            <div class="col-sm-12 input-lg">
                <input required name="usrnameinput" type="email" ng-model="usrlogininfo.usrname"  class="form-control inputoffset" placeholder="邮箱" >
            </div>

            <div class="col-sm-12 input-lg ">
                <input required name="usrpwdinput" type="password" ng-model="usrlogininfo.usrpwd"  class="form-control inputoffset" placeholder="密码" >
            </div>


                <!--<div class="col-sm-6 input-lg">-->
                    <!--<input type="text" ng-model="usrlongininfo.usrcheckcode" class="form-control" id="verification"placeholder="请输入验证码">-->
                <!--</div>-->

                <!--<div class="col-sm-4 input-lg"><img  src="/assets/images/code1.png" /></div>-->

                <!--<div class="col-sm-2 input-lg"><span class=" glyphicon glyphicon-repeat"/></div>-->

            <div class="col-sm-10 input-lg ">
                <input  class="btn btn-lg buttonClass " type="submit" value="登录">
            </div>

        </form>

    </div>
</div>