#info-add-num{
    /*margin-left: auto;*/
    /*margin-right: auto*/
    /*margin-left: 9em;*/
    font-size:16px;
    height:518px;
    width:748px;
    z-index:1;
    padding:15px;

}
#add-num1,#add-num,#add-num2,#add-num3 {
    font-size:16px;
    height:518px;
    width:748px;
    z-index:1;
    padding:15px;
}
.select {
    height:2em;
    width: 9.5em;

}
.font_style{
    /*margin-top: 1em;*/
    color: #9c9c9c;
    font-size: 15px;
}
.position {
    background-color: #d2322d;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto
}