<div id="info-add-num" ng-controller="activitystep1Ctrl">
    <form class="navbar-form" name="form" id="add-num1" role="form" ng-submit="addwechat(form)">
        <!--<span><a href="#add-num1">1添加公众号图片</a></span>-->
        <!--<span><a href="#add-num2">2添加公众号图片</a></span>-->
        <!--<span><a href="#add-num3">3添加公众号图片</a></span>-->
        <div class="form-group-lg input-lg row">
          <label class="col-sm-3 control-label">公众号原始ID：</label>
          <input type="text" name="_id" ng-model="wechat.wechatid" class="form-control" placeholder="公众账户原始Id"
                 required
                 mongoose-error>
        </div>

        <div class="form-group-lg input-lg row">
            <label class="col-sm-3 control-label">公众号名称：</label>
            <input type="text" ng-model="wechat.wechatname" class=" form-control" placeholder="">
        </div>

        <div class="form-group-lg input-lg row">
            <label class="col-sm-3 control-label">账号类型：</label>
            <select class="select" ng-model="wechat.wechattype">
                <option value="personal">个人</option>
                <option value="team">团体</option>
            </select>
        </div>

        <div class="form-group-lg input-lg row">
            <label class="col-sm-3 control-label">彩票份额：</label>
            <input type="number" ng-model="wechat.wechataccount" class=" form-control" placeholder="">
        </div>

        <div class="form-group-lg input-lg row">
            <label class="col-sm-3 control-label">结束时间：</label>
                <div class="">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="dt" is-open="opened" min-date="minDate" close-text="关闭"
                               datepicker-options="dateOptions"  ng-required="true" close-text="Close"
                                />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
        </div>

        <div class="font_style row">
            <p>关联微信公众号（对照微信公众平台中微信公众号信息填写）</p>
        </div>

        <div class="row">
            <input type="submit" class="btn btn-lg col-sm-6 position" value="提交">
        </div>

        <div class="row font_style ">

            <p ng-show="form._id.$error.mongoose">
                {{ errors._id }}
            </p>
        </div>


    </form>

</div>